@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Lato';
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(150deg, rgba(255,255,255,1) 25%, rgba(243,254,176,1) 100%);
}

button{
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  background: none;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
  font-size: 20px;
  width: 40px;
  height:40px;
  padding: 5px;
  margin-right: 10px;
  transition: 0.5s;
}

button:hover{
  box-shadow:inset -3px -3px 8px #b1b1b1;
}