.calculator{
    max-width: 250px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    box-shadow: 3px 3px 8px #b1b1b1;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
